<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.francis.samsung_mediko">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".DoctorsListActivity"></activity>
        <activity android:name=".HomePageActivity"></activity>
        <activity android:name=".SymptomsListActivity"></activity>
        <activity android:name=".MyProfileActivity"></activity>
        <activity android:name=".MedicinesListActivity"></activity>

        <activity android:name=".DetailedMedicineActivity"
            android:parentActivityName=".MedicinesListActivity">
            <!-- The meta-data tag is required if you support API level 15 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MedicinesListActivity" />
        </activity>
    </application>

</manifest>